

<div style="max-width: 210px; margin: auto; padding: 1em;">
    <mat-card class="title_center">
        <mat-card-header>
            <mat-card-title>Item Name</mat-card-title>
        </mat-card-header>
        
            
            <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/91F89859AE004153A24E7852F8666F0F/10093625_r.jpg?fit=inside|540:540"
             mat-card-lg-image
            >
            
            <mat-card-content>
                <p>this is the description of the item</p>
            </mat-card-content>
            <mat-card-content>
                <p>
                    10.99 (item price)
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button>Add to Cart</button>
            </mat-card-actions>
        
    </mat-card>
</div>

